{% extends 'base.html.twig' %}

{% block header_img %}
<img class="img-fluid w-100" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        {% for task in tasks %}
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
                        <span class="float-end">
                            {% if task.isDone %}
                            <i class="glyphicon glyphicon-ok"></i>
                            {% else %}
                            <i class="glyphicon glyphicon-remove"></i>
                            {% endif %}
                        </span>
                    </h5>
                    <p class="card-text">{{ task.content }}</p>
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="card-footer d-flex justify-content-between">
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}" method="post">
                        <button class="btn btn-success btn-sm">
                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                        </button>
                    </form>
                    <form action="{{ path('task_delete', {'id' : task.id }) }}" method="post">
                        <button class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée.
            </div>
        </div>
        {% endfor %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="col-12 text-center mt-3">
            <a href="{{ path('task_create') }}" class="btn btn-info">Créer une tâche</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}